<table class="container-fluid">
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Birth Date</th>
        <th>Date Employed</th>
        <th>Attendance</th>
    </tr>
    <tr>
        <td>{{id}}</td>
        <td>{{lastName}}</td>
        <td>{{firstName}}</td>
        <td>{{gender}}</td>
        <td>{{age}}</td>
        <td>{{birthDate}}</td>
        <td>{{dateEmployed}}</td>
        <td>
            <button type="button" class="btn btn-primary">Click here</button>
        </td>
    </tr>
</table>